// Colors
$capri-red: #c91939;

// Sizing
$img-scale: 0.4;

// Retreat campers
$retreat-mid-camper-width: 1518px;
$retreat-mid-camper-height: 818px;
$retreat-mid-component-width: 953px;
$retreat-mid-component-height: 433px;
$retreat-mid-component-x-offset: 565px;
$retreat-mid-stripes-2-4-width: 914px;
$retreat-mid-stripes-2-4-height: 237px;
$retreat-mid-stripes-2-4-x-offset: 565px;
$retreat-mid-stripes-2-4-y-offset: 76px; 
$retreat-mid-stripes-2-5-width: 864px;
$retreat-mid-stripes-2-5-height: 325px;
$retreat-mid-stripes-2-5-x-offset: 615px;
$retreat-mid-stripes-2-5-y-offset: 80px; 
$retreat-mid-accent-width: 907px;
$retreat-mid-accent-height: 27px;
$retreat-mid-accent-x-offset: 569px;
$retreat-mid-accent-y-offset: 232px;
$retreat-mid-decal-width: 85px;
$retreat-mid-decal-height: 41px;
$retreat-mid-decal-x-offset: 1380px;
$retreat-mid-decal-y-offset: 340px;

$retreat-6-camper-width: 1808px;
$retreat-6-camper-height: 966px;
$retreat-6-component-width: 1079px;
$retreat-6-component-height: 503px;
$retreat-6-component-x-offset: 728px;
$retreat-6-stripes-2-4-width: 1041px;
$retreat-6-stripes-2-4-height: 254px;
$retreat-6-stripes-2-4-x-offset: 730px;
$retreat-6-stripes-2-4-y-offset: 80px; 
$retreat-6-stripes-2-5-width: 988px;
$retreat-6-stripes-2-5-height: 350px;
$retreat-6-stripes-2-5-x-offset: 781px;
$retreat-6-stripes-2-5-y-offset: 85px; 
$retreat-6-accent-width: 1034px;
$retreat-6-accent-height: 36px;
$retreat-6-accent-x-offset: 733px;
$retreat-6-accent-y-offset: 250px;
$retreat-6-decal-width: 89px;
$retreat-6-decal-height: 43px;
$retreat-6-decal-x-offset: 1670px;
$retreat-6-decal-y-offset: 430px;

$retreat-7-camper-width: 1868px;
$retreat-7-camper-height: 915px;
$retreat-7-component-width: 1057px;
$retreat-7-component-height: 452px;
$retreat-7-component-x-offset: 794px;
$retreat-7-stripes-2-4-width: 1023px;
$retreat-7-stripes-2-4-height: 238px;
$retreat-7-stripes-2-4-x-offset: 795px;
$retreat-7-stripes-2-4-y-offset: 72px; 
$retreat-7-stripes-2-5-width: 976px;
$retreat-7-stripes-2-5-height: 315px;
$retreat-7-stripes-2-5-x-offset: 842px;
$retreat-7-stripes-2-5-y-offset: 75px; 
$retreat-7-accent-width: 1018px;
$retreat-7-accent-height: 37px;
$retreat-7-accent-x-offset: 795px;
$retreat-7-accent-y-offset: 220px;
$retreat-7-decal-width: 80px;
$retreat-7-decal-height: 39px;
$retreat-7-decal-x-offset: 1720px;
$retreat-7-decal-y-offset: 383px;

$retreat-8-camper-width: 1956px;
$retreat-8-camper-height: 937px;
$retreat-8-component-width: 1257px;
$retreat-8-component-height: 501px;
$retreat-8-component-x-offset: 695px;
$retreat-8-stripes-2-4-width: 1219px;
$retreat-8-stripes-2-4-height: 255px;
$retreat-8-stripes-2-4-x-offset: 695px;
$retreat-8-stripes-2-4-y-offset: 80px; 
$retreat-8-stripes-2-5-width: 1166px;
$retreat-8-stripes-2-5-height: 350px;
$retreat-8-stripes-2-5-x-offset: 748px;
$retreat-8-stripes-2-5-y-offset: 85px; 
$retreat-8-accent-width: 1211px;
$retreat-8-accent-height: 47px;
$retreat-8-accent-x-offset: 700px;
$retreat-8-accent-y-offset: 245px;
$retreat-8-decal-width: 87px;
$retreat-8-decal-height: 44px;
$retreat-8-decal-x-offset: 1810px;
$retreat-8-decal-y-offset: 425px;

// Cowboy campers
$cowboy-mid-camper-width: 1520px;
$cowboy-mid-camper-height: 701px;
$cowboy-mid-component-width: 617px;
$cowboy-mid-component-height: 318px;
$cowboy-mid-component-x-offset: 903px;
$cowboy-mid-stripes-width: 579px;
$cowboy-mid-stripes-height: 245px;
$cowboy-mid-stripes-x-offset: 903px;
$cowboy-mid-stripes-y-offset: 68px; 
$cowboy-mid-decal-width: 87px;
$cowboy-mid-decal-height: 43px;
$cowboy-mid-decal-x-offset: 1380px;
$cowboy-mid-decal-y-offset: 244px;

$cowboy-6-camper-width: 1805px;
$cowboy-6-camper-height: 780px;
$cowboy-6-component-width: 617px;
$cowboy-6-component-height: 318px;
$cowboy-6-component-x-offset: 1180px;
$cowboy-6-stripes-width: 579px;
$cowboy-6-stripes-height: 245px;
$cowboy-6-stripes-x-offset: 1179px;
$cowboy-6-stripes-y-offset: 70px; 
$cowboy-6-decal-width: 87px;
$cowboy-6-decal-height: 43px;
$cowboy-6-decal-x-offset: 1660px;
$cowboy-6-decal-y-offset: 242px;

$cowboy-7-camper-width: 1868px;
$cowboy-7-camper-height: 799px;
$cowboy-7-component-width: 660px;
$cowboy-7-component-height: 336px;
$cowboy-7-component-x-offset: 1195px;
$cowboy-7-stripes-width: 625px;
$cowboy-7-stripes-height: 235px;
$cowboy-7-stripes-x-offset: 1195px;
$cowboy-7-stripes-y-offset: 97px; 
$cowboy-7-decal-width: 83px;
$cowboy-7-decal-height: 41px;
$cowboy-7-decal-x-offset: 1720px;
$cowboy-7-decal-y-offset: 265px;

$cowboy-8-camper-width: 1956px;
$cowboy-8-camper-height: 809px;
$cowboy-8-component-width: 813px;
$cowboy-8-component-height: 374px;
$cowboy-8-component-x-offset: 1143px;
$cowboy-8-stripes-width: 772px;
$cowboy-8-stripes-height: 262px;
$cowboy-8-stripes-x-offset: 1143px;
$cowboy-8-stripes-y-offset: 108px; 
$cowboy-8-decal-width: 92px;
$cowboy-8-decal-height: 46px;
$cowboy-8-decal-x-offset: 1810px;
$cowboy-8-decal-y-offset: 290px;