#capriCustomizer {
	color: #686868;
}

#capriCustomizer.container-fluid {
	min-width: 1200px;
}

#capriCustomizer hr {
	width: 90%;
}

#capriCustomizer div.brand-col {
	width: 100%;
	background-color: #c91939;
	text-align: center;
}

#capriCustomizer div.brand-col img {
	padding: 30px;
}

#capriCustomizer img.color-swatch,
#capriCustomizer img.color-swatch-stripes {
	margin: 5px 10px;
	width: 50px;
	height: 50px;
	display: inline-block;
}

#capriCustomizer div#camperDiv {
	position: relative;
	margin: 0 auto;
	width: 1200p;
	height: 500px;
}

#capriCustomizer div#camperTrim {
	position: absolute;
	margin-left: -117px;
	margin-top: 25px;
	height: 238px;
	width: 633px;
	background-image: url(img/retreat-8/r8-black-trim.png);
	background-size: contain;
	left: 50%;
	z-index: 5;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;	
}

#capriCustomizer div#camperStripes {
	position: absolute;
	margin-left: -130px;
	margin-top: 35px;
	height: 255px;
	width: 658px;
	background-image: url(img/retreat-8/stripes-1/r8-stripes-1-white.png);
	background-size: contain;
	left: 50%;
	z-index: 4;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}

#capriCustomizer div#camperColor {
	position: absolute;
	margin-left: -130px;
	margin-top: 35px;
	height: 255px;
	width: 658px;
	background-image: url(img/retreat-8/r8-black.png);
	background-size: contain;
	left: 50%;
	z-index: 3;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}

#capriCustomizer div#truck {
	position: absolute;
	margin-left: -465px;
	margin-top: 175px;
	height: 328px;
	width: 975px;
	background-image: url(img/trucks/ram-2500-cc8.png);
	background-size: contain;
	left: 50%;
	z-index: 2;
}

#capriCustomizer div#camperShadow {
	position: absolute;
	margin-left: -105px;
	margin-top: 164px;
	height: 98px;
	width: 211px;
	background-image: url(img/retreat-8/r8-shadow.png);
	background-size: contain;
	left: 50%;
	z-index: 1;
}