/**
 * Capri Camper Customizer
 * Copyright 2017 Capri Camper
 */
#capriCustomizer {
  color: #686868; }
  #capriCustomizer .container-fluid {
    min-width: 1200px; }
  #capriCustomizer hr {
    width: 90%; }
  #capriCustomizer div.brand-col {
    width: 100%;
    background-color: #c91939;
    text-align: center; }
    #capriCustomizer div.brand-col img {
      padding: 30px; }
  #capriCustomizer .camper-size-link {
    cursor: pointer; }
    #capriCustomizer .camper-size-link:hover {
      color: #c91939;
      cursor: pointer; }
    #capriCustomizer .camper-size-link.active {
      color: #c91939; }
  #capriCustomizer img.color-swatch {
    margin: 5px 10px;
    width: 50px;
    height: 50px;
    display: inline-block; }
  #capriCustomizer div.camper-div {
    position: relative;
    margin: 0 auto; }
    #capriCustomizer div.camper-div.retreat-mid-div {
      width: 607.2px;
      height: 327.2px; }
    #capriCustomizer div.camper-div.retreat-6-div {
      width: 723.2px;
      height: 386.4px; }
    #capriCustomizer div.camper-div.retreat-7-div {
      width: 747.2px;
      height: 366px; }
    #capriCustomizer div.camper-div.retreat-8-div {
      width: 782.4px;
      height: 374.8px; }
    #capriCustomizer div.camper-div.cowboy-mid-div {
      width: 608px;
      height: 280.4px; }
    #capriCustomizer div.camper-div.cowboy-6-div {
      width: 722px;
      height: 312px; }
    #capriCustomizer div.camper-div.cowboy-7-div {
      width: 747.2px;
      height: 319.6px; }
    #capriCustomizer div.camper-div.cowboy-8-div {
      width: 782.4px;
      height: 323.6px; }
  #capriCustomizer div.camper-component {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out; }
    #capriCustomizer div.camper-component.retreat-mid-component {
      width: 381.2px;
      height: 173.2px;
      left: 226px; }
    #capriCustomizer div.camper-component.retreat-6-component {
      width: 431.6px;
      height: 201.2px;
      left: 291.2px; }
    #capriCustomizer div.camper-component.retreat-7-component {
      width: 422.8px;
      height: 180.8px;
      left: 317.6px; }
    #capriCustomizer div.camper-component.retreat-8-component {
      width: 502.8px;
      height: 200.4px;
      left: 278px; }
    #capriCustomizer div.camper-component.cowboy-mid-component {
      width: 246.8px;
      height: 127.2px;
      left: 361.2px; }
    #capriCustomizer div.camper-component.cowboy-6-component {
      width: 246.8px;
      height: 127.2px;
      left: 472px; }
    #capriCustomizer div.camper-component.cowboy-7-component {
      width: 264px;
      height: 134.4px;
      left: 478px; }
    #capriCustomizer div.camper-component.cowboy-8-component {
      width: 325.2px;
      height: 149.6px;
      left: 457.2px; }
  #capriCustomizer #model {
    z-index: 20; }
    #capriCustomizer #model.retreat-mid-model {
      width: 607.2px;
      height: 327.2px;
      left: 0; }
    #capriCustomizer #model.retreat-6-model {
      width: 723.2px;
      height: 386.4px;
      left: 0; }
    #capriCustomizer #model.retreat-7-model {
      width: 747.2px;
      height: 366px;
      left: 0; }
    #capriCustomizer #model.retreat-8-model {
      width: 782.4px;
      height: 374.8px;
      left: 0; }
    #capriCustomizer #model.cowboy-mid-model {
      width: 608px;
      height: 280.4px;
      left: 0; }
    #capriCustomizer #model.cowboy-6-model {
      width: 722px;
      height: 312px;
      left: 0; }
    #capriCustomizer #model.cowboy-7-model {
      width: 747.2px;
      height: 319.6px;
      left: 0; }
    #capriCustomizer #model.cowboy-8-model {
      width: 782.4px;
      height: 323.6px;
      left: 0; }
  #capriCustomizer #base {
    z-index: 5; }
  #capriCustomizer #stripes {
    background-image: none;
    z-index: 10; }
    #capriCustomizer #stripes.retreat-mid-stripes {
      width: 365.6px;
      height: 94.8px;
      left: 226px;
      top: 30.4px; }
    #capriCustomizer #stripes.retreat-6-stripes {
      width: 416.4px;
      height: 101.6px;
      left: 292px;
      top: 32px; }
    #capriCustomizer #stripes.retreat-7-stripes {
      width: 409.2px;
      height: 95.2px;
      left: 318px;
      top: 28.8px; }
    #capriCustomizer #stripes.retreat-8-stripes {
      width: 487.6px;
      height: 102px;
      left: 278px;
      top: 32px; }
    #capriCustomizer #stripes.retreat-mid-stripes-with-accent {
      width: 345.6px;
      height: 130px;
      left: 246px;
      top: 32px; }
    #capriCustomizer #stripes.retreat-6-stripes-with-accent {
      width: 395.2px;
      height: 140px;
      left: 312.4px;
      top: 34px; }
    #capriCustomizer #stripes.retreat-7-stripes-with-accent {
      width: 390.4px;
      height: 126px;
      left: 336.8px;
      top: 30px; }
    #capriCustomizer #stripes.retreat-8-stripes-with-accent {
      width: 466.4px;
      height: 140px;
      left: 299.2px;
      top: 34px; }
    #capriCustomizer #stripes.cowboy-mid-stripes {
      width: 231.6px;
      height: 98px;
      left: 361.2px;
      top: 27.2px; }
    #capriCustomizer #stripes.cowboy-6-stripes {
      width: 231.6px;
      height: 98px;
      left: 471.6px;
      top: 28px; }
    #capriCustomizer #stripes.cowboy-7-stripes {
      width: 250px;
      height: 94px;
      left: 478px;
      top: 38.8px; }
    #capriCustomizer #stripes.cowboy-8-stripes {
      width: 308.8px;
      height: 104.8px;
      left: 457.2px;
      top: 43.2px; }
  #capriCustomizer #accent {
    background-image: none;
    z-index: 15; }
    #capriCustomizer #accent.retreat-mid-accent {
      width: 362.8px;
      height: 10.8px;
      left: 227.6px;
      top: 92.8px; }
    #capriCustomizer #accent.retreat-6-accent {
      width: 413.6px;
      height: 14.4px;
      left: 293.2px;
      top: 100px; }
    #capriCustomizer #accent.retreat-7-accent {
      width: 407.2px;
      height: 14.8px;
      left: 318px;
      top: 88px; }
    #capriCustomizer #accent.retreat-8-accent {
      width: 484.4px;
      height: 18.8px;
      left: 280px;
      top: 98px; }
  #capriCustomizer #fixtures {
    z-index: 25; }
  #capriCustomizer #decal {
    z-index: 30; }
    #capriCustomizer #decal.retreat-mid-decal {
      width: 34px;
      height: 16.4px;
      left: 552px;
      top: 136px; }
    #capriCustomizer #decal.retreat-6-decal {
      width: 35.6px;
      height: 17.2px;
      left: 668px;
      top: 172px; }
    #capriCustomizer #decal.retreat-7-decal {
      width: 32px;
      height: 15.6px;
      left: 688px;
      top: 153.2px; }
    #capriCustomizer #decal.retreat-8-decal {
      width: 34.8px;
      height: 17.6px;
      left: 724px;
      top: 170px; }
    #capriCustomizer #decal.cowboy-mid-decal {
      width: 34.8px;
      height: 17.2px;
      left: 552px;
      top: 97.6px; }
    #capriCustomizer #decal.cowboy-6-decal {
      width: 34.8px;
      height: 17.2px;
      left: 664px;
      top: 96.8px; }
    #capriCustomizer #decal.cowboy-7-decal {
      width: 33.2px;
      height: 16.4px;
      left: 688px;
      top: 106px; }
    #capriCustomizer #decal.cowboy-8-decal {
      width: 36.8px;
      height: 18.4px;
      left: 724px;
      top: 116px; }
