/**
 * Capri Camper Customizer
 * Copyright 2017 Capri Camper
 */

@import "./capri-camper-variables";

@mixin transition($duration) {
	-webkit-transition: background-image $duration ease-in-out;
	transition: background-image $duration ease-in-out;
}

#capriCustomizer {
	color: #686868;

	.container-fluid {
		min-width: 1200px;
	}

	hr {
		width: 90%;
	}

	div.brand-col {
		width: 100%;
		background-color: $capri-red;
		text-align: center;	

		img {
			padding: 30px;
		}
	}

	.camper-size-link {
		cursor: pointer;
		&:hover {
			color: $capri-red;
			cursor: pointer;
		}
		&.active {
			color: $capri-red;
		}
	}

	img.color-swatch {
		margin: 5px 10px;
		width: 50px;
		height: 50px;
		display: inline-block;
	}

	div.camper-div {
		position: relative;
		margin: 0 auto;
		&.retreat-mid-div {
			width: $retreat-mid-camper-width * $img-scale;
			height: $retreat-mid-camper-height * $img-scale;
		}
		&.retreat-6-div {
			width: $retreat-6-camper-width * $img-scale;
			height: $retreat-6-camper-height * $img-scale;
		}
		&.retreat-7-div {
			width: $retreat-7-camper-width * $img-scale;
			height: $retreat-7-camper-height * $img-scale;
		}
		&.retreat-8-div {
			width: $retreat-8-camper-width * $img-scale;
			height: $retreat-8-camper-height * $img-scale;
		}	
		&.cowboy-mid-div {
			width: $cowboy-mid-camper-width * $img-scale;
			height: $cowboy-mid-camper-height * $img-scale;
		}
		&.cowboy-6-div {
			width: $cowboy-6-camper-width * $img-scale;
			height: $cowboy-6-camper-height * $img-scale;
		}
		&.cowboy-7-div {
			width: $cowboy-7-camper-width * $img-scale;
			height: $cowboy-7-camper-height * $img-scale;
		}
		&.cowboy-8-div {
			width: $cowboy-8-camper-width * $img-scale;
			height: $cowboy-8-camper-height * $img-scale;
		}							
	}

	div.camper-component {
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		@include transition(0.2s);
		&.retreat-mid-component {
			width: $retreat-mid-component-width * $img-scale;
			height: $retreat-mid-component-height * $img-scale;
			left: $retreat-mid-component-x-offset * $img-scale;
		}
		&.retreat-6-component {
			width: $retreat-6-component-width * $img-scale;
			height: $retreat-6-component-height * $img-scale;
			left: $retreat-6-component-x-offset * $img-scale;
		}
		&.retreat-7-component {
			width: $retreat-7-component-width * $img-scale;
			height: $retreat-7-component-height * $img-scale;
			left: $retreat-7-component-x-offset * $img-scale;
		}
		&.retreat-8-component {
			width: $retreat-8-component-width * $img-scale;
			height: $retreat-8-component-height * $img-scale;
			left: $retreat-8-component-x-offset * $img-scale;
		}	
		&.cowboy-mid-component {
			width: $cowboy-mid-component-width * $img-scale;
			height: $cowboy-mid-component-height * $img-scale;
			left: $cowboy-mid-component-x-offset * $img-scale;
		}
		&.cowboy-6-component {
			width: $cowboy-6-component-width * $img-scale;
			height: $cowboy-6-component-height * $img-scale;
			left: $cowboy-6-component-x-offset * $img-scale;
		}
		&.cowboy-7-component {
			width: $cowboy-7-component-width * $img-scale;
			height: $cowboy-7-component-height * $img-scale;
			left: $cowboy-7-component-x-offset * $img-scale;
		}
		&.cowboy-8-component {
			width: $cowboy-8-component-width * $img-scale;
			height: $cowboy-8-component-height * $img-scale;
			left: $cowboy-8-component-x-offset * $img-scale;
		}								
	}
		
	#model {
		z-index: 20;
		&.retreat-mid-model {
			width: $retreat-mid-camper-width * $img-scale;
			height: $retreat-mid-camper-height * $img-scale;
			left: 0;
		}
		&.retreat-6-model {
			width: $retreat-6-camper-width * $img-scale;
			height: $retreat-6-camper-height * $img-scale;
			left: 0;
		}
		&.retreat-7-model {
			width: $retreat-7-camper-width * $img-scale;
			height: $retreat-7-camper-height * $img-scale;
			left: 0;
		}
		&.retreat-8-model {
			width: $retreat-8-camper-width * $img-scale;
			height: $retreat-8-camper-height * $img-scale;
			left: 0;
		}
		&.cowboy-mid-model {
			width: $cowboy-mid-camper-width * $img-scale;
			height: $cowboy-mid-camper-height * $img-scale;
			left: 0;
		}
		&.cowboy-6-model {
			width: $cowboy-6-camper-width * $img-scale;
			height: $cowboy-6-camper-height * $img-scale;
			left: 0;
		}
		&.cowboy-7-model {
			width: $cowboy-7-camper-width * $img-scale;
			height: $cowboy-7-camper-height * $img-scale;
			left: 0;
		}
		&.cowboy-8-model {
			width: $cowboy-8-camper-width * $img-scale;
			height: $cowboy-8-camper-height * $img-scale;
			left: 0;
		}		
	}

	#base {
		z-index: 5;
	}

	#stripes {
		background-image: none;
		z-index: 10;
		&.retreat-mid-stripes {
			width: $retreat-mid-stripes-2-4-width * $img-scale;
			height: $retreat-mid-stripes-2-4-height * $img-scale;
			left: $retreat-mid-stripes-2-4-x-offset * $img-scale;
			top: $retreat-mid-stripes-2-4-y-offset * $img-scale;
		}	
		&.retreat-6-stripes {
			width: $retreat-6-stripes-2-4-width * $img-scale;
			height: $retreat-6-stripes-2-4-height * $img-scale;
			left: $retreat-6-stripes-2-4-x-offset * $img-scale;
			top: $retreat-6-stripes-2-4-y-offset * $img-scale;
		}	
		&.retreat-7-stripes {
			width: $retreat-7-stripes-2-4-width * $img-scale;
			height: $retreat-7-stripes-2-4-height * $img-scale;
			left: $retreat-7-stripes-2-4-x-offset * $img-scale;
			top: $retreat-7-stripes-2-4-y-offset * $img-scale;
		}	
		&.retreat-8-stripes {
			width: $retreat-8-stripes-2-4-width * $img-scale;
			height: $retreat-8-stripes-2-4-height * $img-scale;
			left: $retreat-8-stripes-2-4-x-offset * $img-scale;
			top: $retreat-8-stripes-2-4-y-offset * $img-scale;
		}	
		&.retreat-mid-stripes-with-accent {
			width: $retreat-mid-stripes-2-5-width * $img-scale;
			height: $retreat-mid-stripes-2-5-height * $img-scale;
			left: $retreat-mid-stripes-2-5-x-offset * $img-scale;
			top: $retreat-mid-stripes-2-5-y-offset * $img-scale;
		}	
		&.retreat-6-stripes-with-accent {
			width: $retreat-6-stripes-2-5-width * $img-scale;
			height: $retreat-6-stripes-2-5-height * $img-scale;
			left: $retreat-6-stripes-2-5-x-offset * $img-scale;
			top: $retreat-6-stripes-2-5-y-offset * $img-scale;
		}	
		&.retreat-7-stripes-with-accent {
			width: $retreat-7-stripes-2-5-width * $img-scale;
			height: $retreat-7-stripes-2-5-height * $img-scale;
			left: $retreat-7-stripes-2-5-x-offset * $img-scale;
			top: $retreat-7-stripes-2-5-y-offset * $img-scale;
		}	
		&.retreat-8-stripes-with-accent {
			width: $retreat-8-stripes-2-5-width * $img-scale;
			height: $retreat-8-stripes-2-5-height * $img-scale;
			left: $retreat-8-stripes-2-5-x-offset * $img-scale;
			top: $retreat-8-stripes-2-5-y-offset * $img-scale;
		}			
		&.cowboy-mid-stripes {
			width: $cowboy-mid-stripes-width * $img-scale;
			height: $cowboy-mid-stripes-height * $img-scale;
			left: $cowboy-mid-stripes-x-offset * $img-scale;
			top: $cowboy-mid-stripes-y-offset * $img-scale;
		}	
		&.cowboy-6-stripes {
			width: $cowboy-6-stripes-width * $img-scale;
			height: $cowboy-6-stripes-height * $img-scale;
			left: $cowboy-6-stripes-x-offset * $img-scale;
			top: $cowboy-6-stripes-y-offset * $img-scale;
		}	
		&.cowboy-7-stripes {
			width: $cowboy-7-stripes-width * $img-scale;
			height: $cowboy-7-stripes-height * $img-scale;
			left: $cowboy-7-stripes-x-offset * $img-scale;
			top: $cowboy-7-stripes-y-offset * $img-scale;
		}	
		&.cowboy-8-stripes {
			width: $cowboy-8-stripes-width * $img-scale;
			height: $cowboy-8-stripes-height * $img-scale;
			left: $cowboy-8-stripes-x-offset * $img-scale;
			top: $cowboy-8-stripes-y-offset * $img-scale;
		}					
	}

	#accent {
		background-image: none;
		z-index: 15;
		&.retreat-mid-accent {
			width: $retreat-mid-accent-width * $img-scale;
			height: $retreat-mid-accent-height * $img-scale;
			left: $retreat-mid-accent-x-offset * $img-scale;
			top: $retreat-mid-accent-y-offset * $img-scale;
		}	
		&.retreat-6-accent {
			width: $retreat-6-accent-width * $img-scale;
			height: $retreat-6-accent-height * $img-scale;
			left: $retreat-6-accent-x-offset * $img-scale;
			top: $retreat-6-accent-y-offset * $img-scale;
		}	
		&.retreat-7-accent {
			width: $retreat-7-accent-width * $img-scale;
			height: $retreat-7-accent-height * $img-scale;
			left: $retreat-7-accent-x-offset * $img-scale;
			top: $retreat-7-accent-y-offset * $img-scale;
		}	
		&.retreat-8-accent {
			width: $retreat-8-accent-width * $img-scale;
			height: $retreat-8-accent-height * $img-scale;
			left: $retreat-8-accent-x-offset * $img-scale;
			top: $retreat-8-accent-y-offset * $img-scale;
		}			
	}

	#fixtures {
		z-index: 25;
	}

	#decal {
		z-index: 30;	
		&.retreat-mid-decal {
			width: $retreat-mid-decal-width * $img-scale;
			height: $retreat-mid-decal-height * $img-scale;
			left: $retreat-mid-decal-x-offset * $img-scale;
			top: $retreat-mid-decal-y-offset * $img-scale;
		}	
		&.retreat-6-decal {
			width: $retreat-6-decal-width * $img-scale;
			height: $retreat-6-decal-height * $img-scale;
			left: $retreat-6-decal-x-offset * $img-scale;
			top: $retreat-6-decal-y-offset * $img-scale;
		}	
		&.retreat-7-decal {
			width: $retreat-7-decal-width * $img-scale;
			height: $retreat-7-decal-height * $img-scale;
			left: $retreat-7-decal-x-offset * $img-scale;
			top: $retreat-7-decal-y-offset * $img-scale;
		}	
		&.retreat-8-decal {
			width: $retreat-8-decal-width * $img-scale;
			height: $retreat-8-decal-height * $img-scale;
			left: $retreat-8-decal-x-offset * $img-scale;
			top: $retreat-8-decal-y-offset * $img-scale;
		}									
		&.cowboy-mid-decal {
			width: $cowboy-mid-decal-width * $img-scale;
			height: $cowboy-mid-decal-height * $img-scale;
			left: $cowboy-mid-decal-x-offset * $img-scale;
			top: $cowboy-mid-decal-y-offset * $img-scale;
		}	
		&.cowboy-6-decal {
			width: $cowboy-6-decal-width * $img-scale;
			height: $cowboy-6-decal-height * $img-scale;
			left: $cowboy-6-decal-x-offset * $img-scale;
			top: $cowboy-6-decal-y-offset * $img-scale;
		}	
		&.cowboy-7-decal {
			width: $cowboy-7-decal-width * $img-scale;
			height: $cowboy-7-decal-height * $img-scale;
			left: $cowboy-7-decal-x-offset * $img-scale;
			top: $cowboy-7-decal-y-offset * $img-scale;
		}	
		&.cowboy-8-decal {
			width: $cowboy-8-decal-width * $img-scale;
			height: $cowboy-8-decal-height * $img-scale;
			left: $cowboy-8-decal-x-offset * $img-scale;
			top: $cowboy-8-decal-y-offset * $img-scale;
		}	
	}
}